.bodycolor {
  background-color:black
}
.introparagraph {
  font-size: 20px;
  color: #ffdb99;+
  
}
.title {
  color: #fee0a9
}

.ingredients {
  color: blue
}
.list {
  color: #48cdf9;
}
.method {
  color: purple;
}
.methods {
  color: #b677b6;
}